<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= miTitulo %>
    </title>
    <%- include('partials/head') %>
</head>

<body>
    
    <%- include('partials/navigation') %>

        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1 d-flex justify-content-center text-align-center">About me</h1>
                <p> Podría estar todos los días de mi vida, hasta viejo: programando, comiendo comida deliciosa, tocando
                    música y viendo fórmula 1 o los simpsons.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio nobis cumque libero quaerat non
                    molestias repudiandae tempora a nihil facere dolor corrupti deleniti, distinctio iusto hic ipsam
                    culpa cum delectus aperiam animi temporibus perspiciatis laborum! Tempora, asperiores maiores modi
                    nemo perspiciatis aspernatur, sed incidunt atque earum, quas repellendus perferendis assumenda! </p>
            </section>
        </main>

    <%- include('partials/footer')%>
</body>

</html>