<footer>

    <title>Lorem ipsum dolor</title>

    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Dolorum nam odit quasi modi cumque magnam obcaecati ut enim rerum reprehenderit?
    </h3>

</footer>